.cityName{
 border: none;
 border-width: 30px;
background-color: rgb(181, 181, 181);
color: rgb(0, 0, 0);
}
.currentWeather {
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255)
    ;
}

.currentWeather h2,
.currentWeather h3 {
    font-size: 1.5rem;
    margin: 10px;
}

span#uv-index {
    color: rgb(170, 170, 170);
}

.card {
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(108, 123, 255);
    
}


.row{

  font-family: sans-serif;
  border: #000000;

}

.d-flex {
  font-family: sans-serif;
  background-color: rgb(133, 133, 133);
}
.col-6 currentWeather p-0 {
    background-color: rgb(133, 133, 133);

}

.card {
    background-color: rgb(255, 195, 195);
    
}

.text-muted {
    color: white ;
    padding: 2em;
    border-radius: 30px;
   
}
.row{
  font-family: sans-serif;
  border: #000000;

}

.d-flex {
  font-family: sans-serif;
  background-color: rgb(255, 255, 0);
}
